body {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  font-family: arial, sans, sans-serif;
  background-color: #fff;
}
div {
  display: block;
}
.body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.topnav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.gmailImg,
.appsSign {
  display: flex;
  padding: 10px 08px;
}

.kj {
  padding: 0px 10px;
}

.kj a {
  text-decoration: none;
  color: #111;
  font-size: 14px;
}
.gi:hover {
  text-decoration: underline;
}
.appsSign {
  align-items: center;
}

.apps {
  width: 25px;
  height: 30px;
  margin-right: 14px;
  margin-left: -18px;
}
.apps-logo {
  width: 27px;
  opacity: 0.8;
  padding: 5px 5px;
}
.apps-logo:hover {
  border-radius: 30px;
  background-color: #9995;
}

.signIn {
  background-color: red;
  min-width: 80px;
  height: 35px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 6px;
  border-radius: 5px;
  background: #1a73e8;
}
.signIn a {
  color: #fff;
}
.signIn:hover {
  background: #2b7de9;
  box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%),
    0 1px 3px 1px rgb(66 133 244 / 15%);
}

.google-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 92px;
  max-height: 290px;
}
.gi-logo {
  max-height: 92px;
  position: relative;
  height: 100%;
  margin-top: auto;
}
.google-logo {
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
  object-position: center bottom;
  width: auto;
}
/* Search Area  */

.searchArea {
  /* border:1px solid rgb(179, 17, 179); */
  padding: 20px;
  max-height: 160px;
  /* flex-shrink: 0; */
  box-sizing: border-box;
}

form {
  display: block;
  margin-top: 0em;
}

.googleSearch {
  position: relative;
  margin: 0 auto;
  padding-top: 6px;
  width: auto;
  max-width: 584px;
}

.inputArea {
  background: #fff;
  display: flex;
  box-shadow: none;
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  z-index: 3;
  height: 44px;
}
.inputArea:hover {
  background-color: #fff;
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
    border-color: rgba(223,225,229,0);

}

.userInput {
  flex: 1;
  display: flex;
  padding: 5px 8px 0 14px;
}

.searchIcon {
  display: flex;
  align-items: center;
  padding-right: 13px;
  margin-top: -5px;
}

.meterialserachIcon {
  margin: auto;
}

.seacrhLogo {
  margin-top: 3px;
  color: #9aa0a6;
  width: 20px;
  height: 20px;
  display: block;
  height: 100%;
  width: 100%;
  cursor: pointer;
}
.seacrhLogo:not(:root) {
  overflow: hidden;
}
.searchInput {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
}
.userTypeArea {
  color: transparent;
  flex: 100%;
  white-space: pre;
  height: 34px;
}

.inputTextArea {
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.87);
  word-wrap: break-word;
  outline: none;
  display: flex;
  flex: 100%;
  margin-top: -37px;
  height: 34px;
  font-size: 16px;
  width: 100%;
  border: none;
}

.micImage {
  display: flex;
  flex: 0 0 auto;
  margin-top: -5px;
  align-items: stretch;
  flex-direction: row;
}
.micIcon {
  flex: 1 0 auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  border: 0;
  background: transparent;
  outline: none;
  padding: 0 8px;
  width: 24px;
  line-height: 44px;
}
.mic {
  height: 24px;
  width: 24px;
  vertical-align: middle;
  line-height: 44px;
  cursor: pointer;
}
.searchBtnLucky{
  height: 70px;
  padding-top: 18px;
}

center{
  display: block;
  text-align: center;
}

.searchBtnLucky input[type ="submit"]{
  background-color: #f8f9fa;
  border: 1px solid #f8f9fa;
  border-radius: 4px;
  color: #3c4043;
  font-family: arial, sans-serif;
  font-size: 14px;
  margin: 11px 4px ;
  padding: 0 16px;
  line-height: 27px;
  min-width: 54px;
  text-align: center;
  cursor: pointer;
  user-select: none;
}
.searchBtnLucky input[type ="submit"]:hover{
  box-shadow:0 1px 1px rgb(0 0 0 / 10%);
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  color: #202124;
}

/* language part  */

.languageBox{
  flex-grow: 1;
  flex-shrink: 0;
  box-sizing: border-box;
}
.googlezlang{
  font-size: small;
  margin-bottom: 24px;
  text-align: center;
}
.lang{
  color: #3c4043;
  display: inline-block;
  line-height: 28px;
}

.lang a {
  padding: 0 3px;
  color: #1a0dab;
  text-decoration: none;
}

/* footer section  */


.footer{
  background: #f2f2f2;
  flex-shrink: 0;
  box-sizing: border-box;
  font-size: 14px;
}
.location{
  padding: 15px 30px;
  border-bottom: 1px solid #dadcda;
  font-size: 15px;
  color: #70757a;
}

.footerSection{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 20px ;
}
.footerLeft, .footerRight{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
a.footers{
  color: #70757a;
}

.footers{
  display: block;
  padding: 15px;
  white-space: nowrap;
}
a{
  text-decoration: none;
}
.setting{
  font-size: 14px;
  font-family: arial,sans-serif;
  color: #202124;
}

button.settingBtn{
  cursor: pointer;
  width: 100%;
  text-align: left;
  color: #70757a;
  display: block;
  padding: 15px;
  white-space: nowrap;
  border: none;
  background: none;
}

.footers:hover, .settingBtn:hover{
  text-decoration: underline;
}